@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import 'highlight.js/styles/github-dark.css';

@theme {
  --color-od-50: #f5f6f0;
  --color-od-100: #e8eadd;
  --color-od-200: #d0d4b8;
  --color-od-300: #b3ba8d;
  --color-od-400: #8f9a5b;
  --color-od-500: #6b7a3d;
  --color-od-600: #4b5320;
  --color-od-700: #3d4420;
  --color-od-800: #2a3018;
  --color-od-900: #1a2010;
  --color-od-950: #1c3a1c;
}